.ar-tags-categorizer .container div,
.ar-tags-categorizer .gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}
.ar-tags-categorizer .container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.ar-tags-categorizer .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.ar-tags-categorizer .container .ex-moved {
    background-color: #e74c3c;
}
.ar-tags-categorizer .container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}
.ar-tags-categorizer .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
}


.ar-tags-categorizer .groups-list {
}

.ar-tags-categorizer .nr-tags {
    padding: 0px 8px 5px 8px;
    line-height: 16px;
}

.ar-tags-categorizer .nr-tags i {
    font-size: 0.9em;
    vertical-align: middle;
    padding-top: 2px;
}
.ar-tags-categorizer .ungrouped-tags span {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    height: 26px;
    line-height: 25px;
    border: 1px solid;
    border-radius: 2px;
    color: #ffffff;
    background-color: #0869c2;
    border-color: #0756a0;
    opacity: 0.65;
    cursor: pointer;

}
.ar-tags-categorizer .unsel-tag.selected {
    background-color: #f21c0a;
    border-color: #f21c0a;
    opacity: 0.65;
}

.ar-tags-categorizer .groups-list .remove-group {
    color: #f21c0a;
}

.ar-tags-categorizer .inside-bag {
    min-height: 60px;
}

.ar-tags-categorizer .inside-bag.ex-over {
    background-color: #f2f2f2;
}

.ar-tags-categorizer .inside-bag i.tag {
    display: none;
}

.ar-tags-categorizer .inside-bag span {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    height: 26px;
    line-height: 25px;
    border: 1px solid;
    border-radius: 2px;
    color: #ffffff;
    background-color: #0869c2;
    border-color: #0756a0;
    opacity: 0.65;
    cursor: pointer;
}

.ar-tags-categorizer .inside-bag i.fa-tag {
    display: none;
}

.ar-tags-categorizer .ungrouped-tags .glyphicon-remove {
    display: none;
}

.ar-tags-categorizer .panel-title a {
    outline: none;
}