<div class="ar-tags-categorizer">
    <div class="row">

        <div class="groups-list col-md-6">

            <div class="add-group">
                <form name="groupName">

                    <input type="text"
                           ng-model="newGroup"
                           placeholder="Add new group"
                           ng-keypress="checkAddNew($event)"
                           ng-pattern="nameRx"
                           name="gName">
                    <button ng-click="addNewGroup()"
                            ng-disabled="groupName.gName.$error.pattern">
                        <i class="fa fa-plus"></i>
                    </button>

                </form>

            </div>

            <div class="bags" ng-init="makeVisible(0)">
                <div
                     ng-repeat="group in tagsGroups track by $index"
                     class="bag clearfix bag{{$index}}"
                     id="bag bag{{$index}}"
                     ng-click="makeVisible($index)"
                     data-gid="{{group.id}}"
                     data-index="{{$index}}">
                    <!--ng-init="hookGroups($last)"-->
                    <div class="title clearfix">

                        <span ng-if="!renameGroup[$index]">{{group.name}}</span>
                        <input type="text" class="rename"
                               ng-model="group.name"
                               ng-click="stopEvent($event)"
                               ng-pattern="nameRx"
                               ng-keypress="checkRenameGroup($event, $index, group.name)"
                               ng-if="renameGroup[$index] && group.open">
                        <div class="pull-right">
                            <button class="edit-group"
                                    ng-if="group.open"
                                    ng-disabled="deleteConf > 0"
                                    ng-click="editGroup($event, $index)"><i class="fa fa-pencil-square-o"></i></button>

                            <button class="remove-group confirm"
                                  ng-if="deleteConf && group.open"
                                  ng-disabled="renameGroup[$index]"
                                  ng-click="deleteTagGroup($event, $index, true)">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="remove-group"
                                  ng-class="{'confirm-deletion': deleteConf > 0}"
                                  ng-if="group.open"
                                  ng-disabled="renameGroup[$index]"
                                  ng-click="deleteTagGroup($event, $index)">
                                <i class="fa fa-times"></i>
                            </button>

                            <button type="button" class="btn btn-info nr-tags">{{group.tags.length}} <i class="fa fa-tags"></i></button>

                            <i class="arrow glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
                        </div>

                    </div>

                    <div class="tags clearfix"
                         ng-show="group.open"
                         ng-class="{'confirm-deletion': deleteConf > 0}">

                          <span class="tag"
                                ng-repeat="tag in group.tags track by $index"
                                data-tag="{{tag}}"
                                data-index="{{$index}}">
                              <!--ng-init="hookTags($last)"-->
                            <i class="fa fa-tag"></i> {{tag}} <i ng-click="removeAssignedTag(group, $index)" class="glyphicon glyphicon-remove"></i>
                          </span>
                    </div>

                </div>
            </div>

        </div>

        <div class="ungrouped-tags col-md-6">
            <h4>Uncategorized tags</h4>
            <span class="unsel-tag"
                  ng-repeat="tag in ungroupedTags track by $index"
                  data-tag="{{tag}}"
                  data-index="{{$index}}"
                  ng-click="addTagToGroup($index)"
                    >
                <i class="fa fa-tag"></i> {{tag}} <i ng-click="removeAssignedTag(group.tags, $index)" class="glyphicon glyphicon-remove"></i>
            </span>
        </div>

    </div>
</div>